{{ define "main" -}}
{{ .Content }}
<div id="post-index" class="container" itemscope="" itemtype="https://schema.org/Blog">

    <ol class="post-list">
        {{ $pag := (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        {{ range $pag }}
        <li class="post-stub" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">

            <div class="post-image"><img src="/img/tombstone.png" /></div>
            <div class="post-text" >
              <a href="{{ .Permalink }}" itemprop="url">
                  <h3 class="post-stub-title" itemprop="name">{{ .Title }}</h3>
                </a>  
                  <div class="dates">
                    <time class="post-stub-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ dateFormat (default "January 2006" .Site.Params.dateFormat) .Params.first_air_date }}</time>
                     - 
                    <time class="post-stub-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ dateFormat (default "January 2006" .Site.Params.dateFormat) .Params.last_air_date }}</time>
                  </div>
                  <div>
                    <span class="subtitle seasons">Seasons:</span> {{ with .Params.number_of_seasons }}{{.}}{{end}}
                    <span class="subtitle episodes">Episodes:</span> {{ with .Params.number_of_episodes }}{{.}}{{end}}
                 </div>
                  {{ .Params.summary }}
          </div>
          </li>
          
        {{ end }}
          
    </ol>
</div>
{{end}}